
@{
    ViewData["Title"] = "Dodder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/css/font-awesome.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <script src="~/js/particles.min.js"></script>
    <a href="~/fonts/fontawesome-webfont.eot"></a>
    <a href="~/fonts/fontawesome-webfont.ttf"></a>
    <a href="~/fonts/fontawesome-webfont.woff"></a>
    <a href="~/fonts/FontAwesome.otf"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff"></a>
    <a href="~/fonts/glyphicons-halflings-regular.woff2"></a>

</head>
<div>
    <h1 style="text-align:center;padding-top:20%;color:whitesmoke">
        <font color="white" size="+10">Swipe Right</font>
    </h1>
    <a class="nav-link text-dark" asp-area="" asp-controller="User" asp-action="Register"
       style="text-align:center;background-color:springgreen;color:red;border-radius: 32%; width:20%;margin: 0 auto">
        <font color="white" size="+3">Join with us</font>
    </a>
</div>

