
@{
    ViewData["Title"] = "Safety";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div>
    <h1><b><font size="+5">Dating Tips</font></b></h1>
    <p>
        Meeting new people is wonderful, but be cautious when dealing with someone you don't know.
        Whether you're exchanging early texts or meeting in person, use your best judgment and prioritize your safety.
        While you cannot control the actions of others, there are steps you can do to keep yourself secure while using Dodder.
    </p>
    <h2><b><font size="+3">Online Safety</font></b></h2>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;1.</b>Do not share anything related to personal financial information</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;2.</b>Do not share your private personal information</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;3.</b>Don't switch to another platform too soon</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;4.</b>Beware of long distance relationships</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;5.</b>Report suspicious behavior</p>
    <h2><b><font size="+3">Offline Safety</font></b></h2>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;1.</b>Never rush</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;2.</b>Always meeting in public</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;3.</b>Be proactive in your transportation</p>
    <p><b>&nbsp;&nbsp;&nbsp;&nbsp;4.</b>Know your limits</p>
</div>

