@model Dodder.Models.UserAccount
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/_LayoutPage1.cshtml";
}
@if (TempData["error"] != null)
{
    <script>
        alert("");
    </script>
}
<!-- main -->
<div class="main">
    <canvas id="myCanvas"></canvas>
    <div class="main-w3l">
        <h1 class="logo-w3">DODDER</h1>
        <div class="w3layouts-main">
            <h2>Enter Email to Get reset link </h2>
            <form asp-controller="User" asp-action="ForgotPassword" method="post">
                <label style="color:white">Email</label>
                <input type="text" asp-for="Email" />
                <span asp-validation-for="Email"></span><br />

                <input type="submit" value="Get reset link" name="ForgotPassword">
            </form>

            <a asp-controller="Home" asp-action="Dodder" style="color:white">Come back home</a>

        </div>


        <div class="clear"></div>
        <!-- //main -->
        <!--footer-->
        <div class="footer-w3l">
            <p>2021 version. All rights reserved | Design by DODDER</p>
        </div>
        <!--//footer-->
    </div>
</div>


<!--scripts-->
<!-- js -->
<script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
<!-- //js -->
<!-- particles-JavaScript -->
<script src="js/particles.min.js"></script>
<script>
    window.onload = function () {
        Particles.init({
            selector: '#myCanvas',
            color: '#eba7a7',
            connectParticles: true,
            minDistance: 90
        });
    };
</script>

<!-- //particles-JavaScript -->
<!--//scripts-->
