@model Dodder.Models.UserAccount
@{
    ViewData["Title"] = "Dodder";
    Layout = "~/Views/_LayoutPage2.cshtml";
    var user = TempData["user"] as UserAccount;
}

<div class="container">
    <div class="side">
        <div class="header">
            <div class="avatar">
                <img src="https://anhdep123.com/wp-content/uploads/2020/05/%E1%BA%A3nh-c%C6%B0%E1%BB%9Di-ch%E1%BA%BF.jpg" alt="" />
            </div>
            <div class="title" style="display:flex"><p>@user.Nickname</p>
                <a asp-controller="User" asp-action="Logout">Logout</a>
            </div>
        </div>
        <div class="menu">
            <ul>
                <li>Matches</li>
                <li class="active">Messages</li>
            </ul>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://s.memehay.com/files/posts/20200816/1bf9900c6546496b7ac7366e9cbb5f8fcho-vang-do-mat-xau-ho.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Kute Dog</div>
                <div class="text">Lovely and sokute</div>
            </div>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://i.pinimg.com/550x/5b/ca/f6/5bcaf6fb75792d8851b6c7063c41c63c.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Food Dog</div>
                <div class="text">So lazy</div>
            </div>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://we25.vn/media2018/Img_News/2019/08/26/c6cccad359696f50a8d8d3c656da55e9_20190826164355.jpg" alt="" />
            </div>
            <div class="message">
                <div class="user">Shiba</div>
                <div class="text">Hello World</div>
            </div>
        </div>
        <div class="messages">
            <div class="avatar">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQnq-OY-4ZyMdICtXq3H2fuVixkAnqkhJwsSwzoASNutbzGO4wxpqbq9H5OMoaRo_FSOQY&usqp=CAU" alt="" />
            </div>
            <div class="message">
                <div class="user">Troll Dog</div>
                <div class="text">👉👈</div>
            </div>
        </div>
    </div>
    <div class="content">
        <div class="card">
            <div class="user" style="height:100%">
                <img class="user"
                     src="https://yolo.vn/wp-content/uploads/2019/08/hinh-anh-cho-pomsky-dep-45.jpg"
                     alt="" />
                <div class="profile">
                    <div class="name">Snow White <span>18</span></div>
                    <div class="local">
                        <i class="fas fa-map-marker-alt"></i>
                        <span>20 kilometres</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <div class="no">
                <i class="fas fa-times"></i>
            </div>
            <div class="star">
                <i class="fas fa-star fa"></i>
            </div>
            <div class="heart">
                <i class="fas fa-heart"></i>
            </div>
        </div>
    </div>
</div>





